<!-- <div class="footer fixed-bottom bg-dark text-white py-2">
  <div class="container text-center">
    <p class="mb-1 d-flex justify-content-center">© Eduardo, Mateus, Seisuke, Bosco All rights reserved.</p>
  </div>
</div> -->
