<header>
  <nav
    style="z-index: 999"
    class="navbar navbar-expand-md navbar-light bg-light border-bottom"
  >
    <a class="navbar-brand text-success font-weight-bold" href="/">TinyLinks</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-md-flex justify-content-between w-100">
        <div class="d-md-flex">
          <a
            class="nav-item nav-link text-success font-weight-bold"
            href="/urls"
            >My URLs</a
          >
          <a
            class="nav-item nav-link text-success font-weight-bold"
            href="/urls/new"
            >Create New URL</a
          >
        </div>
        <div class="d-md-none d-lg-flex align-items-center">
          <% if(locals.login && locals.email) { %>
          <span class="nav-item nav-link text-muted"
            >Logged in as: <%= locals.email %></span
          >
          <form method="post" action="/logout">
            <button type="submit" class="btn btn-outline-danger mr-2">
              Logout
            </button>
          </form>
          <% } else { %>
          <a class="nav-item nav-link text-success" href="/login">Login</a>
          <a class="nav-item nav-link text-success" href="/register"
            >Register</a
          >
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
