<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyLinks - Home</title>
    <style>
      body {
        overflow-y: hidden;
      }

      .hero-section {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        position: relative;
        height: calc(100vh - 60px); /* Assuming your navbar is 60px */
      }

      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .url-input {
        max-width: 500px;
        margin-bottom: 1rem;
      }

      @keyframes moveY {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(30px);
        }
        100% {
          transform: translateY(0);
        }
      }

      @keyframes moveX {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(30px);
        }
        100% {
          transform: translateX(0);
        }
      }

      .blurred-shape {
        position: absolute;
        width: 600px;
        height: 600px;
        z-index: -1;
        background: rgba(
          255,
          0,
          0,
          0.3
        ); /* red color, adjust the color as needed */
        border-radius: 50%;
        filter: blur(100px);
        animation: moveY 5s infinite;
      }

      .blurred-shape:nth-child(odd) {
        animation: moveX 6s infinite;
        background: rgba(0, 0, 255, 0.2); /* blue color */
      }
      @media screen and (max-width: 1000px) {
        .blurred-shape {
          display: none;
        }
        .hero-section {
          height: 100vh;
        }
        .centered-content h1,
        p {
          display: flex;
          text-align: center;
        }
        body {
          overflow-y: hidden;
          background: linear-gradient(to bottom, #add8e6, #00008b);
          height: 100vh;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100% !important;
          justify-content: center;
        }

        input {
          max-width: 85% !important;
        }
      }
    </style>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <div class="hero-section" style="margin-top: -5rem">
      <div class="blurred-shape" style="top: 100px; left: 100px"></div>
      <div class="blurred-shape" style="top: 400px; right: 300px"></div>
      <div class="blurred-shape" style="top: -200px; right: 50px"></div>
      <div class="centered-content">
        <h1>Welcome to TinyLinks</h1>
        <p>Shorten long URL for easier sharing and management!</p>
        <% if(login) { %>
        <form action="/urls" method="POST" style="width: 400px">
          <div class="form-group">
            <input
              type="url"
              class="form-control url-input mb-3"
              placeholder="Enter long URL here"
              required
              name="longUrl"
              id="longURL"
            />
          </div>
          <div class="d-flex justify-content-center">
            <!-- Flex wrapper around the button -->
            <button type="submit" class="btn btn-primary">Shorten</button>
          </div>
        </form>
        <% } else { %>
        <div style="display: flex; column-gap: 10px">
          <a href="/login" class="btn btn-success">Log In</a>
          <a href="/signup" class="btn btn-success">Sign Up</a>
          <!-- Note: I corrected the typo from "resister" to "register" -->
        </div>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
