<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>New URL - TinyLinks</title>

    <style>
      body {
        overflow: hidden;
      }
      @keyframes moveY {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(30px);
        }
        100% {
          transform: translateY(0);
        }
      }

      @keyframes moveX {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(30px);
        }
        100% {
          transform: translateX(0);
        }
      }

      .blurred-shape {
        position: absolute;
        width: 600px;
        height: 600px;
        z-index: -1;
        background: rgba(
          255,
          0,
          0,
          0.3
        ); /* red color, adjust the color as needed */
        border-radius: 50%;
        filter: blur(100px);
        animation: moveY 5s infinite;
      }

      .blurred-shape:nth-child(odd) {
        animation: moveX 6s infinite;
        background: rgba(0, 0, 255, 0.2); /* blue color */
      }

      .error-message {
        color: red;
      }
      @media screen and (max-width: 450px) {
        .blurred-shape {
          display: none;
        }
        body {
          overflow-y: hidden;
          background: linear-gradient(to bottom, #add8e6, #00008b);
          height: 100vh;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    </style>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <main class="container" style="margin-top: 10rem">
      <div class="blurred-shape" style="top: 120px; left: 350px"></div>
      <div class="blurred-shape" style="top: 450px; right: 250px"></div>
      <div class="blurred-shape" style="top: 300px; right: -150px"></div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center font-weight-bold">
              Login to TinyLinks
            </div>
            <div class="card-body">
              <form action="login" method="post">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                  />
                </div>
                <% if(locals.emailErrorMessage) { %>
                <p class="error-message"><%= emailErrorMessage %></p>
                <% } %>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                  />
                </div>
                <% if(locals.passwordErrorMessage) { %>
                <p class="error-message"><%= passwordErrorMessage %></p>
                <% } %>
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
