<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>New URL - TinyLinks</title>
    <style>
      body {
        overflow: hidden;
      }

      .create-section {
        position: relative;
        backdrop-filter: blur(20px);
        padding: 2em;
        border-radius: 10px;
        margin-top: 10vh;
      }

      @keyframes moveY {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(30px);
        }
        100% {
          transform: translateY(0);
        }
      }

      @keyframes moveX {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(30px);
        }
        100% {
          transform: translateX(0);
        }
      }

      .blurred-shape {
        position: absolute;
        width: 600px;
        height: 600px;
        background: rgba(255, 0, 0, 0.2);
        border-radius: 50%;
        filter: blur(80px);
        animation: moveY 5s infinite;
      }

      .blurred-shape:nth-child(odd) {
        animation: moveX 6s infinite;
        background: rgba(0, 0, 255, 0.2); /* blue color */
      }
      @media screen and (max-width: 1000px) {
        .blurred-shape {
          display: none;
        }
        body {
          overflow-y: hidden;
          background: linear-gradient(to bottom, #add8e6, #00008b);
          height: 100vh;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .form-group {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: center;
        }
        button {
          max-width: 30%;
        }
      }
    </style>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <div class="container text-center">
      <div class="blurred-shape" style="top: 80px; left: 50px"></div>
      <div class="blurred-shape" style="top: 100px; right: 200px"></div>
      <div class="blurred-shape" style="top: 450px; right: -200px"></div>

      <main class="create-section">
        <h3>Create TinyURL</h3>
        <form
          class="form-inline justify-content-center"
          action="/urls"
          method="post"
        >
          <div class="form-group mb-2">
            <label for="longURL" class="mr-2">Enter a URL:</label>
            <input
              class="form-control mr-2"
              type="text"
              placeholder="http://"
              style="width: 300px"
              name="longUrl"
              id="longURL"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </main>
    </div>

    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
